{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="{% static 'home/login.css' %}">

</head>
<body>
    <div class="form-wrapper">
            <img class="login-img" src="{% static 'home/images/login.jpg' %}" alt="icon"/>

            <form class="form-cover">
                <div class="signin"> Sign In 👏 </div>
    
                <div class="login-with">
                    <a href="#" class="loginwith-text"><img src="{% static 'home/images/icons/google.png' %}" alt="google-icon"/>Use Google</a>
                    <a href="#" class="loginwith-text"><img src="{% static 'home/images/icons/facebook.png' %}" alt="facebook-icon"/>Use Facebook</a>
                </div>
                <div>---------------------- Or -----------------------</div>

            <div class="text-field">
                <diV>
                    <label for="email"><br>
                        <div class="text-icon">
                            <div><img class="icon" src="{% static 'home/images/icons/user.png' %}" alt="username-icon"/></div>
                            <div><input type="username" id="username" name="username" autocomplete="off" placeholder="Enter your username" required></div>
                        </div>
                    </label>
                </div>
                
                <div>
                    <label for="password"><br>
                        <div class="text-icon">   
                            <div><img class="icon" src="{% static 'home/images/icons/padlock.png' %}" alt="key-icon"/></div>
                            <div><input type="password" id="password" name="password" autocomplete="off" placeholder="Enter your password" required></div>
                        </div> 
                    </label>
                </div>
            </div>
            <button type="submit" class="submit-btn"> Login </button>
            <div class="login-last"> 
                <div class="reset"> Reset Password </div>
                <div class="create"> Need an account? <a href="signup.html" style="text-decoration: none; font-size: 17px;">SIGNUP</a> </div>
            </div>

            </form>
    </div>
    <script src="script.js"></script>
</body>
</html>
