
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header li, a{
    text-decoration: none;
    color: gray;
}

header .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}
.navbar ul li, a{
    list-style: none;
    display: inline-block;
    margin: 7px 0px;
    margin-left: 20px;
    padding: 3px;
}
.navbar a:hover, .logo, .navbar a:active{
    color: #DA0037;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.dropdown {         /* Drop-down container */
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* width: 800px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
}

.dropdown-content a {
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.basket, .user-logo{
    height: 30px;
    width: 30px;
}

    /* ### Search ### */
.search {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px gray;
    overflow: hidden;
}

.search.active {
    width: 200px; /* Adjusted width */
}

.search.active .input {
    width: 200px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid red;
    border-radius: 50px;
    transform: translate(-2px, -2px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 9px;
    background: red;
    transform: translate(5px, 5px) rotate(315deg);
}

.search .input {
    position: absolute;
    width: 100%; /* Adjusted width */
    height: 30px;
    left: 0; /* Adjusted left value */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
}

.search .input input {
    position: absolute;
    top: 0;
    width: calc(100% - 20px);   /* Adjusted width */
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 25px 10px 25px;   /* Adjusted padding */
}

.clear {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 15px; 
    cursor: all-scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before,
.clear::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 20px;
    background: #DA0037;
}

.clear::before {
    transform: rotate(45deg);
}

.clear::after {
    transform: rotate(315deg);
}

/* ### shop ko logo ### */
.logo{
    font-size: 30px;
    font-weight: 600;
    font-family: chalkduster;
}

header input{
    border-radius: 14px;
    border: 2px solid gray;
    color: red;
    font-size: 15px;
    padding: 3px 3px 3px 12px;
}

section{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.heads{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 38px;
    margin: 100px 0px 30px 0px;
}

        /* ###  HOME ###*/
.profile-img{
    position: relative;
    padding-top: 70px;
    width: 40vw;
    height: 100vh;
    margin-left: 750px;
}

.container{
    display: flex;
    justify-content: space-between;
}
.text1{
    position: absolute;
    margin: -6.5em 0px 40px 150px;
    /* margin: 0px 0px 30px 150px; */
    font-family: Montserrat;
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: black;
} 
.text2{
    position: absolute;
    margin: -13em 0px 30px 150px; 
    font-size: 23px;
    font-weight: 500;
    color: gray;
    width: 600px;
}

.btn{
    position: absolute;
    margin: -7.5em 0px 0px 130px;
    padding: 10px 20px;
    background-color: #DA0037;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    border: 2px solid #DA0037;
    background-color: transparent;
    color: #DA0037;
}

.nari-text {
    position: absolute;
    margin: 160px 0px 0 0px; 
    left: 400px;
    opacity: 0.7;
}

/* Slider CSS */
  .slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .slide.active {
    display: block;
  }

  .blk{
    display: inline-block;
  }
  
  .prev-btn{
    right: 30px;
  }
  .next-btn{
    left: 30px;
  }

  .prev-btn, 
  .next-btn{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
  }
  .prev-btn:hover, 
  .next-btn:hover{
    opacity: 1;
  }

 /* Dis */
  .dis {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100%;
    background-color: grey;
    margin: 0px auto;
    gap: 5%;
    color: whitesmoke;
    /* border-radius: 9px; */
}
.dis p1:hover,p2:hover{
    filter: drop-shadow(0px 10px 20px white);
}

.dis img{
    width: 27%;
    height: 53vh;
    border-radius: 20px;
}
.dis img:hover{
    filter: drop-shadow(0px 10px 20px white);
}
.dis-p1{
    font-size: 50px;
    display: grid;
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 8%;
}
.dis-p2{
    display: grid;
    align-items: center;
    text-align: justify;
    width: 550px;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 100px;
    /* opacity: 1; */
}
.dis-btn {
    position: absolute;
    margin: -80px 0px 0px -20px;
    padding: 10px 20px;
    background-color: #DA0037;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent; 
    transition: border-color 0.3s, background-color 0.3s, filter 0.3s;
}
.dis-btn:hover{
    border-color: white;
    background-color: transparent;
    filter: drop-shadow(0px 10px 20px white);
}

    /*### Page Products ### */
.lan-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lan-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border:1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    position: relative;
    transition: filter 0.3s; 
}

.buy_btn{
    background-color: #DA0037;
    color: white;
    border-radius: 5px;
    outline: none;
    border:none;
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    visibility: hidden;
    z-index: 1; /* Blur Content bhanda mathi aaounako laagi */
    transition: filter 0.3s;

}

.lan-img{
    width:150px;
    height:auto;
}

.lan-text{
    font-size: 16px;
}
.lan-text2{
    font-size: 18px;
    padding: 15px 0px 10px 0px;
}
.lan-price{
    margin-top: 25px;
    font-weight: 600;
}

.lan-text3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

    /* ### Short Discription ### */
.short-disc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.short-dis{
    width: 1200px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}

    /*### Landing Page Analysis ###*/
/* .lan-analysis {
    display: grid;
    margin-bottom: -100px;
}

.lan-analysis img {
    width: 100%;
    height: 100%;
} */

    /* ### Frequently Asked Questions ###*/
.faq{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}
.faq-question{
    width: 600px;
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
    color: black;
    opacity: 0.7;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 3px solid whitesmoke;
    line-height: 1.3;
    /* Add animation */
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    box-shadow: 1px 1px 1px whitesmoke;
}
.faq-question:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px gray;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}



        /* Footer */
#footer{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 70vh;
    color: black;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.con-container{
    display: flex;
    flex-direction: column;
}
.logo2{
    font-size: 30px;
    font-weight: 600;
    font-family: chalkduster;
    color: black;
    margin-bottom: 30px;
}
.footer-bio{
    max-width: 550px;
    text-align: justify;
    font-weight: 600;
    opacity: 0.8;
}
.con{
    line-height: 40px;
    cursor: pointer;
    font-weight: 600;
}
.con:hover, .footer-bio:hover{
    transform: scale(1.05);
    font-weight: lighter;
    color: #DA0037;
    opacity: none;
}
.useful a{
    color: black;
    font-weight: 600;
}
.useful a:hover{
    transform: scale(1.3);
    font-weight: lighter;
    color: #DA0037;
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin: 20px 10px 30px 0px;
}
.social a:hover{
    background-color: white;
    box-shadow: 5px 5px 15px #DA0037;    /* ### Horizontal, Vertical, Blur size ###*/
}
.social img{
    margin: 0 auto;
}

.footer-icon1{
    height: 20px;
    width: 27px;
    padding-right: 5px;
}
.footer-icon{
    height: 30px;
    width: 30px;
}
.footer-icon3{
    height: 100px;
    width: 200px;
}


.copy{
    margin: 20px 0px;
}


