{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions (FAQ)</title>

    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    
    <!-- Frequently Asked Questions -->
    <h2 class="heads" id="faq">Frequently Asked Questions</h2>
    <div class="faq">
      <div class="faq-question">
        <p>1. What is Smauge Fashion Hub?</p><br>
        <p>Smauge Fashion Hub is an online destination that brings together a carefully curated collection of fashion items, ranging from trendy pieces to timeless classics. We aim to inspire confidence through fashion, celebrating individuality and self-expression.</p>
      </div>

      <div class="faq-question">
        <p>2. How do I place an order?</p><br>
        <p>Placing an order at Smauge Fashion Hub is easy! Simply browse our online catalog, add your desired items to the cart, and proceed to checkout. Follow the prompts to enter your shipping details and payment information. Once your order is confirmed, you will receive a confirmation email.</p>
      </div>

      <div class="faq-question">
        <p>3.  Can I modify or cancel my order after it's placed?</p><br>
        <p>Once an order is confirmed, it enters our processing system quickly to ensure swift delivery. Therefore, modifications or cancellations may not be possible. Please review your order carefully before finalizing the purchase.</p>
      </div>

      <div class="faq-question">
        <p>4. What is your return policy?</p><br>
        <p>We want you to be satisfied with your purchase. If for any reason you're not happy with your order, please refer to our Return Policy for detailed information on how to initiate a return or exchange.</p>
      </div>

      <div class="faq-question">
        <p>5. Are your products ethically sourced?</p><br>
        <p>Yes, we are committed to ethical sourcing and sustainable practices. Learn more about our dedication to sustainability in our Sustainability section.</p>
      </div>

      <div class="faq-question">
        <p>6.  How can I stay updated on new arrivals and promotions?</p><br>
        Stay in the loop by subscribing to our newsletter and following us on social media. Be the first to know about new arrivals, exclusive promotions, and fashion insights.</p>
      </div>

    </div>

</body>
</html>