<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Privacy Policy </title>
</head>
<body>
    
    <h1>Privacy Policy</h1>

    <h4>
        Last updated: <script> document.write(new Date().getFullYear()); </script>
     </h4>
<p>
    Welcome to Smauge Fashion Hub. This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our website.
</p>

<h3>
Information Collection And Use
</h3>
<p>
    When you visit Smauge Fashion Hub, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the website, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the website, and information about how you interact with the website.
</p>

<h3>
    How We Use Your Information
</h3>
<p>
    We use the information that we collect to improve and optimize your shopping experience on our website, and to assess the success of our marketing and advertising campaigns. We may also use your information to communicate with you about products, promotions, and offers.
</p>

<h3>
    Sharing Your Personal Information
</h3>
<p>
    We may share your personal information with third parties to help us use your personal information, as described above. For example, we may use Shopify to power our online store—you can read more about how Shopify uses your personal information here: [Insert Shopify Privacy Policy URL]. We may also use Google Analytics to help us understand how our customers use the website—you can read more about how Google uses your personal information here: [Insert Google Privacy Policy URL].
</p>

<h3>
    Your Rights
</h3>
<p>
    If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us using the contact information provided below.
</p>
<h3>
Changes
</h3>
<p>
    We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.
</p>

<h3>
Contact Us
</h3>
<p>
    For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at [Insert Email Address] or by mail using the details provided below:
</p>
</body>
</html>